<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="titulos">
    Bienvenido {{ title }}!
  </h1>
</div>

<div>
  <!-- <h3>{{ Nombre }}</h3> -->
</div>

<button (click)="verCal()">{{ mostrar_calificaciones ? 'Ocultar Calificaciones' : 'Ver Calificaciones' }}</button>
<ul *ngIf="mostrar_calificaciones">
  <h2>Calificaciones hola</h2>
  <li *ngFor="let calificacion of calificaciones">
    {{ calificacion }}
  </li>
</ul>

<form (submit)="agregar(cali)">
	<label>
		Agregar Calificacion
		<input type="text" name="nombre" #cali>
	</label>
</form>

<ul>
  <h2>Animales</h2>
  <li *ngFor="let animal of animales">
    El {{ animal.nombre }} de raza {{ animal.raza }}come {{ animal.comida }}
    <img class="img_animal" src="{{ animal.img }}">
  </li>

</ul>


<router-outlet></router-outlet>
